<form [formGroup]="form" (ngSubmit)="save()">

    <p>
        Name: {{ nameForm?.valid }}
        <input
        [class.is-valid]="isNamedValid"
        [class.is-invalid]="isNameInvalid"
         type="text"
         formControlName="name">
        <button [disabled]="form.get('name')?.invalid">Get value</button>
    </p>


    <div class="messages" [class.active]="nameForm?.touched && nameForm?.invalid">

        <p>
            <strong *ngIf="nameForm?.touched && nameForm?.hasError('required')">Este campo es requerido</strong>
        </p>
        
        <p>
            <strong *ngIf="nameForm?.touched && nameForm?.hasError('maxlength')">Solo son 10 caracteres</strong>
        </p>
    
    </div>

    <p>
        Email: {{ emailForm?.value }}
        <input type="email" formControlName="email">
    </p>
    
    <p>
        Phone: {{ phoneForm?.value }}
        <input type="number" formControlName="phone">
    </p>

    <p>
        Color: {{ colorForm?.value }}
        <input type="color" formControlName="color">
    </p>
    
    <p>
        Date: {{ dateForm?.value }}
        <input type="date" formControlName="date">
    </p>
    
    <p>
        Category: {{ categoryForm?.value }}
        <select formControlName="category">
            <option value="category-1">Category 1</option>
            <option value="category-2">Category 2</option>
            <option value="category-3">Category 3</option>
        </select>
    </p>
    
    <p>
        Tag: {{ tagForm?.value }}
        <select formControlName="tag" multiple>
            <option value="category-1">tag 1</option>
            <option value="category-2">tag 2</option>
            <option value="category-3">tag 3</option>
        </select>
    </p>
    
    <p>
        Agree: {{ agreeForm?.value }}
        <input type="checkbox" formControlName="agree">
    </p>

    <!-- <button [disabled]="form.invalid" type="submit">Enviar</button> -->
    <button  type="submit">Enviar</button>

</form>